#superreno_sitename {
	line-height: 48px;
	padding-left: 15px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}

.forum-search + ul {

	form {
		margin: 0 20px;
	}

	#search_term {
	  width: 169px;
	}

	#search_submit {
		display: none;
	}

	::-webkit-input-placeholder { font-size: 12px; }
	::-moz-placeholder { font-size: 12px; }
	:-ms-input-placeholder { font-size: 12px; }
	input:-moz-placeholder { font-size: 12px; }
}

.module-environmentindicator {
	padding: 5px 20px;
	font-size: 12px;
	color: #fff;
}

.module-environmentindicator--development {
	background: #589c51;
}

.module-environmentindicator--staging {
	background: #ab8859;
}

.module-environmentindicator--production {
	background: #a9585b;
}

#sidebar #main-nav li .module-usefullinks-list {
	display: block;
	position: relative;
	left: auto;
	top: auto;
	background: transparent;
	margin: 0 20px;
	padding-bottom: 0;
	overflow: hidden;
	width: 190px;


	li {
		line-height: 1.5;
	}

}